body {
  font-family: Arial, sans-serif;
  background-color: grey;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #d5d5d5;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}
.screen {
  background-color: lightseagreen;
  margin: 0px;
}

#convert-btn {
  padding: 8px 16px;

  background-color: #4caf50;

  color: white;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  font-size: 16px;

  margin-bottom: 20px;
}

#convert-btn:hover {
  background-color: #45a049;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  padding-top: 20px;
}

#number-input {
  background-color: #d5d5d5;
  width: 100px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.conversion-section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #444444;
  line-height: 1.5;
}
